<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Travel Recommendations</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
    </head>
    <body>
      <div class="navbar">
        
        <div class="logo">
          <a href="#">
            
          </a>
          <span class="logo-name">Aaliyana Adoley Mingle</span>
        </div>
    
        
        <div class="nav-links">
          <a href="#">Business</a>
          <a href="#">Basket</a>
          <a href="#">My Bookings</a>
          <a href="#">Register</a>
        </div>
    
        
        <div class="nav-actions">
          
          <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
    
          
          <div class="sign-in">
            <img src="static/images/information.png" class="resize"></span>
          </div>
        </div>
      </div>




    </body>    
        <h1>Welcome to Travel AI!</h1>
            <h1>Welcome to Travel AI!</h1>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/lottie-web/5.9.6/lottie.min.js"></script>
    <script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script> 
    <lottie-player
            src="/static/images/myworld.json" 
            class="center"
            background="transparent"
            speed="1"
            style="width: 250px; height: 250px;"
            autoplay
            loop>
        </lottie-player> 
        <main>
          <form action="/recommend" method="GET">
              <label for="user_id">Enter Your User ID:</label>
              <input type="text" id="user_id" name="user_id" required>
              <button type="submit">Get travel Recommendations</button>
          </form>
      </main>     
    </header>
</body>
</html>








