<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainline Recommendations</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <header>
    </head>
    <body>
      <div class="navbar">
        
        <div class="logo">
          <a href="#">
            <img src="/static/images/text.png" alt="Trainline Logo">
          </a>
          <span class="logo-name">Aaliyana Adoley Mingle</span>
        </div>
    
        
        <div class="nav-links">
          <a href="#">Business</a>
          <a href="#">Basket</a>
          <a href="#">My Bookings</a>
          <a href="#">Register</a>
        </div>
    
        
        <div class="nav-actions">
          
          <div class="menu-icon">
            <div></div>
            <div></div>
            <div></div>
          </div>
    
          
          <div class="sign-in">
            <img src="static/images/information.png" class="resize"></span>
          </div>
        </div>
      </div>




    </body>    
        <h1>Welcome to Trainline's New AI Feature</h1>
            <h1>Welcome to Tailored-line AI by Trainline!</h1>
            <img src="/static/images/robot.png" alt="Centered Image" class="center">        
    </header>
    <main>
        <form action="/recommend" method="GET">
            <label for="user_id">Enter Your User ID:</label>
            <input type="text" id="user_id" name="user_id" required>
            <button type="submit">Get travel Recommendations</button>
        </form>
    </main>
</body>
</html>








